{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Commodities                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='index.html'>  </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/agriculture-commodities.jpg' %}" border="0" alt="Agriculture commodities stored in EAX wharehouses"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    <h4> EAX TRADED COMMODITIES</h4>
                    <p class="lead mb30">
                        EAX trading operations aims primarily to transform agriculture in East Africa region by creating more bargaining power for smallholders farmers, access to price information, access to storage facilities and bank financing based on electronic warehouse receipt system. The fundamental focus is to increase Africa's global trade competitiveness by building economies of scale. This will foster Africa&#39;s capital markets in agriculture commodities and promote liquidity in the market.
                    </p>
                    <p class="lead mb30">
                        EAX carefully selected commodity products that can be stored for longer period of time (at least 9 months of storage in order to improve their selling strategies.&nbsp;</p>
                    <p class="lead mb30">
                        Agricultural commodities traded at EAX are also among primary crops for national strategic grain reserves in member states of East Africa Community (EAC) region. These are products that contribute tremendously in food security as well as poverty reduction programs.</p>
                    <p class="lead mb30">
                        These products are:</p>
                    <ul class="lead mb30" data-bullet="ti-check-box">
                        <li>
                        Maize</li>
                        <li>
                        Beans</li>
                        <li>
                        Soya</li>
                        <li>
                        Wheat</li>
                        <li>
                        Sorghum</li>
                        <li>
                        Paddy Rice</li>
                    </ul>
                    <p class="lead mb30">
                        EAX also plans to expand it&#39;s product portfolio to Coffee, Tea, Minerals and Energy in the future</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}
