{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Mixed Beans                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='mixed-beans.html'> Mixed Beans </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/mixed-beans-56ab76cd73d91-big.jpg' %}" border="0" alt=""/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <p class="lead mb0">
                            Mixed Beans commodity products represent the second most important source of calories after maize. Over 200 million people in sub-Saharan Africa depend on the crop as a primary staple, which is cultivated largely by women. Furthermore, millions of small-scale farmers in Africa rely on the production and sale of beans as an important source of household income.</p>
                    <p class="lead mb0">
                        There are fundamental reasons of selecting Mixed Beans as major selling products at EAX:</p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                        Beans producers and traders can store their productions for a period of up to 9 months, therefore improve their selling strategies.</li>
                        <li>
                        Beans&#39; product is considered the primary crop for national strategic grain reserve among EAC region.</li>
                        <li>
                        Beans play an important role in food security and contributes to poverty reduction. Millers and food processors are increasingly looking at Beans for food processing activities.</li>
                        <li>
                        Beans production can be competitive in imports/export business.</li>
                        <li>
                        It is a good crop for fighting hunger as it is easier to store.</li>
                    </ul>
                    <p class="lead mb0">
                        EAX strategy is to sell highest quality of Beans within the region. EAX Beans are stored, graded, cleaned, re-bagged or packaged in accordance to EAC standards. Beans that EAX warehouses management allow to receive should have the moisture content of at least 13%. Beans are then serviced with high quality fumigation technics to keep it free from weavers, insects or any other foreign matter. Traded Beans commodity standard for EAX Beans is Beans (BS) grouped into 4 different grading standards:</p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                        MIX-BS1 : Mixed Beans Grade 1</li>
                        <li>
                        MIX-BS2 : Mixed Beans Grade 2</li>
                        <li>
                        MIX-BS3 : Mixed Beans Grade 3</li>
                        <li>
                        MIX-BS4 : Mixed Beans Grade 4</li>
                    </ul>
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="uppercase">East Africa Exchange Grading Standards for Dry Mixed Beans</h4>
                    <hr class="mb30 mb-xs-24">
                </div>
            </div>
            
            <!--end of row-->
            <div class="row mb0 mb-xs-0">
                <div class="col-sm-12">
                    
                    <!--Table-->
                    <table class="table table-striped w-auto">

                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>PARAMETERS</th>
                        <th>GRADE 1 </th>
                        <th>GRADE 2 </th>
                        <th>GRADE 3 </th>
                        <th>GRADE 4 </th>
                        </tr>
                    </thead>
                    <!--Table head-->
                        <tbody>
                            <tr>
                                <td>
                                    Basis moisture content</td>
                                <td>
                                    13%</td>
                                <td>
                                    13%</td>
                                <td>
                                    13%</td>
                                <td>
                                    13%</td>
                            </tr>
                            <tr>
                                <td>
                                    Insect damage</td>
                                <td>
                                    1%</td>
                                <td>
                                    1.5%</td>
                                <td>
                                    2%</td>
                                <td>
                                    2%</td>
                            </tr>
                            <tr>
                                <td>
                                    Rotten, disease and discoloured</td>
                                <td>
                                    3%</td>
                                <td>
                                    4.5%</td>
                                <td>
                                    6%</td>
                                <td>
                                    8%</td>
                            </tr>
                            <tr>
                                <td>
                                    Foreign matter (include earth, sand and stones)</td>
                                <td>
                                    0.5%</td>
                                <td>
                                    0.75%</td>
                                <td>
                                    1%</td>
                                <td>
                                    3%</td>
                            </tr>
                            <tr>
                                <td>
                                    Live infestation</td>
                                <td>
                                    None</td>
                                <td>
                                    None</td>
                                <td>
                                    None</td>
                                <td>
                                    None</td>
                            </tr>
                            <tr>
                                <td>
                                    Broken Beans</td>
                                <td>
                                    2%</td>
                                <td>
                                    4%</td>
                                <td>
                                    6%</td>
                                <td>
                                    10%</td>
                            </tr>
                            <tr>
                                <td>
                                    Contrasting varieties</td>
                                <td>
                                    0.5%</td>
                                <td>
                                    1%</td>
                                <td>
                                    1.5%</td>
                                <td>
                                    3%</td>
                            </tr>
                            <tr>
                                <td>
                                    Total Defective Beans</td>
                                <td>
                                    4%</td>
                                <td>
                                    6%</td>
                                <td>
                                    8%</td>
                                <td>
                                    10%</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                            An adjustment of 3.5% is made to the weight of the grain on deposit to make provision for losses during the handling and storage process.</li>
                        <li>
                            An adjustment is made to the weight based on the basis moisture of 13%, if the moisture content is above 13%. (See contract specifications for max moisture allowed on intake)</li>
                        <li>
                            Beans must be free from foreign odours, glass, coal, dung or metal</li>
                        <li>
                            Other edible grains Max 0.5%</li>
                        <li>
                            Total Defective beans include the sum of pest damage, rotten disease &amp; discoloured grains.</li>
                        <li>
                            The sampling and grading is being done using a work sample of at least 200 gram and the EAX grading, sampling and weighing protocol is applied.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="uppercase">BEANS DEFINITION</h4>
                    <hr class="mb30 mb-xs-24">
                </div>
            </div>
            
            <!--end of row-->
            <div class="row mb0 mb-xs-0">
                <div class="col-sm-12">
                    <table class="table table-striped w-auto">
                        <tbody>
                            <tr>
                                <td>
                                    Beans</td>
                                <td>
                                    Phaseolus vulgaris Linn that is well-filled, clean, wholesome, uniform in size, and shape</td>
                            </tr>
                            <tr>
                                <td>
                                    Moisture Content</td>
                                <td>
                                    The moisture content, expressed on a wet weight bases, as determined by using a moisture meter with a repeatability of +- 0.3 as indicated by the supplier</td>
                            </tr>
                            <tr>
                                <td>
                                    Insect damage</td>
                                <td>
                                    beans from which weevils have emerged, leaving a clean-cut open cavity free from larvae, webbing,refuse, mould, or stain.</td>
                            </tr>
                            <tr>
                                <td>
                                    Rotten, diseased &amp; discolored</td>
                                <td>
                                    It included beans made unsafe for human consumption due to decay, moulding, or bacterial decomposition, or other causes that may be noticed without having to cut the beans to examine them. It also included beans that have sprouted and beans that are materially discolored by excessive heat, including that caused by excessive respiration and dried damage kernels. Beans may appear darkened, wrinkled, blistered, puffed or swollen often with discolored damaged germs. The seed may be peeling or may peel off completely, giving kernels a checked appearance.</td>
                            </tr>
                            <tr>
                                <td>
                                    Foreign matter</td>
                                <td>
                                    All organic and inorganic material (sand, stones and soil) other than beans, other grains, dung, metal, glass and coal including any plant matter of beans that is not kernels.</td>
                            </tr>
                            <tr>
                                <td>
                                    Broken/split Beans</td>
                                <td>
                                    beans with some but less than one-fourth of each bean broken off or with one-fourth or more of the seedcoat removed.</td>
                            </tr>
                            <tr>
                                <td>
                                    Contrasting varieties</td>
                                <td>
                                    Refers to one or more different variety of beans in the same sample/consignment.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}


