{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Paddy Rice                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='paddy-rice.html'> Paddy Rice </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/paddy-rice56ab8345924d0-big.jpg' %}" border="0" alt="Paddy Rice"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <p class="lead mb0">
                            Rice is a staple food in many countries of Africa and constitutes a major part of the diet in many others. Africa produces an average of 14.6 million tons of paddy rice per year (1989-1996) on 7.3 million ha, equivalent to 2.6 and 4.6 percent of the world&#39;s total production and rice area, respectively. East Africa has 23.8 percent There are fundamental reasons of selecting Paddy Rice as major selling products at EAX:</p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                            Paddy Rice producers and traders can store their productions for a period of up to 9 months, therefore improve their selling strategies</li>
                        <li>
                            Paddy Rice plays an important role in food for the majority of African people</li>
                        <li>
                            Paddy Rice production can be competitive in imports/export business.</li>
                        <li>
                            It is a good crop for fighting hunger as it is easier to store.</li>
                    </ul>
                    <p class="lead mb0">
                        EAX strategy is to sell highest quality of Paddy Rice within the region. EAX Paddy Rice is stored, graded, cleaned, re-bagged or packaged in accordance to EAC standards. Paddy Rice that EAX warehouses management allow to receive should have the moisture content of at least 13%. Paddy Rice is then serviced with high quality fumigation technics to keep it free from weavers, insects or any other foreign matter. Traded Paddy Rice commodity standard for EAX Paddy Rice is Paddy Rice (PR) grouped into 4 different grading standards:</p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                        PR1 : Paddy Rice Grade 1</li>
                        <li>
                        PR2 : Paddy Rice Grade 2</li>
                        <li>
                        PR3 : Paddy Rice Grade 3</li>
                        <li>
                        PR4 : Paddy Rice Grade 4</li>
                    </ul>
                    
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            
                </div>
            </div>
        </div>
    </section>

{% endblock main-container %}