{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
	<section class="page-title page-title-4 image-bg overlay parallax">
		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="mb0">
					Sorghum                            </h3>
				</div>
				<div class="col-md-6 text-right">
					<ol class="breadcrumb breadcrumb-2">
						<li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='sorghum.html'> Sorghum </a> </li>                            </ol>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row v-align-children">
				<div class="col-md-6 col-sm-6 text-center mb-xs-24">
					<img class="cast-shadow" src="{% static 'resources/pages/sorghum56ab781f5726f-big.jpg' %}" border="0" alt="sorghum"/>
				</div>
				<div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
					<p class="lead mb0">
							Sorghum is a staple food crop for many low-income households in East Africa community. It is typically grown by small-scale, resource-poor farmers and is mainly used for home consumption. As the only cereal species indigenous to EAC, sorghum is produced throughout much of Rwanda, even in areas with low agricultural potential. Sorghum can grow any from sea level to 2,500 meters above sea level and requires a minimum rainfall of 250 mm per year and a minimum temperature of 10C. There are fundamental reasons of selecting Sorghum as major selling products at EAX:</p>
					<ul class="lead" data-bullet="ti-check-box">
					<li>
					Sorghum producers and traders can store their productions for a period of up to 9 months, therefore improve their selling strategies.</li>
					<li>
					Sorghum plays an important role in food for women and children in many African countries. Millers and food processors are increasingly looking at Sorghum for food processing activities.</li>
					<li>
					It easy to store.</li>
					</ul>
					<p class="lead mb0">
					EAX strategy is to sell highest quality of Sorghum within the region. EAX Sorghum is stored, graded, cleaned, re-bagged or packaged in accordance to EAC standards. Sorghum that EAX warehouses management allow to receive should have the moisture content of at least 13 Sorghum is then serviced with high quality fumigation technics to keep it free from weavers, insects or any other foreign matter. Traded Sorghum commodity standard for EAX Sorghum is Sorghum (SG) grouped into 4 different grading standards:</p>				
					<ul class="lead" data-bullet="ti-check-box">
					<li>
					SG1 : Sorghum Grade 1</li>
					<li>
					SG2 : Sorghum Grade 2</li>
					<li>
					SG3 : Sorghum Grade 3</li>
					<li>
					SG4 : Sorghum Grade 4</li>
					</ul>  
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="uppercase">East Africa Exchange Grading Standards for Sorghum</h4>
					<hr class="mb30 mb-xs-24">
				</div>
			</div>
			
			<!--end of row-->
			<div class="row mb0 mb-xs-0">
				<div class="col-sm-12">
					
		<!--Table-->
		<table class="table table-striped w-auto">

		<!--Table head-->
		<thead>
			<tr>
			<th>PARAMETERS</th>
			<th>GRADE 1 </th>
			<th>GRADE 2 </th>
			<th>GRADE 3 </th>
			<th>GRADE 4 </th
			</tr>
		</thead>
		<!--Table head-->
			<tbody>
				<tr>
					<td>
						Basis moisture Content&nbsp;</td>
					<td>
						13%</td>
					<td>
						13%</td>
					<td>
						13%</td>
					<td>
						13%</td>
				</tr>
				<tr>
					<td>
						Insect damage&nbsp;</td>
					<td>
						1%&nbsp;</td>
					<td>
						3%&nbsp;</td>
					<td>
						5%&nbsp;</td>
					<td>
						7%</td>
				</tr>
				<tr>
					<td>
						Rotten, Diseased &amp; Discoloured</td>
					<td>
						5%&nbsp;</td>
					<td>
						7%&nbsp;</td>
					<td>
						10%&nbsp;</td>
					<td>
						12%</td>
				</tr>
				<tr>
					<td>
						Foreign matter (include earth, sand and stones)</td>
					<td>
						2%</td>
					<td>
						3%</td>
					<td>
						4%</td>
					<td>
						6%</td>
				</tr>
				<tr>
					<td>
						Live infestation</td>
					<td>
					<span lang="EN-ZA" style="font-size:12.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:Calibri;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-ZA;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">None</span></td>
					<td>
						<span lang="EN-ZA" style="font-size:12.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:Calibri;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-ZA;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">None</span></td>
					<td>
						<span lang="EN-ZA" style="font-size:12.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:Calibri;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-ZA;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">None</span></td>
					<td>
						<span lang="EN-ZA" style="font-size:12.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:Calibri;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-ZA;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">None</span></td>
				</tr>
				<tr>
					<td>
						Screenings &nbsp;</td>
					<td>
						3%</td>
					<td>
						5%</td>
					<td>
						&nbsp;7%</td>
					<td>
						10%</td>
				</tr>
				<tr>
					<td>
						Immature/Shrivelled grain</td>
					<td>
						3%</td>
					<td>
						5%</td>
					<td>
						7%</td>
					<td>
						10%</td>
				</tr>
				<tr>
					<td>
						Unthreshed Sorghum</td>
					<td>
						6%</td>
					<td>
						8%</td>
					<td>
						10%</td>
					<td>
						15%</td>
				</tr>
				<tr>
					<td>
						Total Defective Grains</td>
					<td>
						9%</td>
					<td>
						15%</td>
					<td>
						22%</td>
					<td>
						31%</td>
				</tr>
			</tbody>
		</table>
				</div>
			</div>
		</div>
	</section> 

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="uppercase">Sorghum And Defintions</h4>
					<hr class="mb30 mb-xs-24">
				</div>
			</div>
			
			<!--end of row-->
			<div class="row mb0 mb-xs-0">
				<div class="col-sm-12">
					<table class="table table-striped w-auto">
						<tbody>
							<tr>
								<td>
									Sorghum</td>
								<td>
									The shelled grains of Sorghum Bicolor.</td>
							</tr>
							<tr>
								<td>
									Moisture Content</td>
								<td>
									The moisture content, expressed on a wet weight bases, as determined by using a moisture meter with a repeatability of +-0.3 as indicated by the supplier in accordance with the results of the 72 hour oven test method.</td>
							</tr>
							<tr>
								<td>
									Foreign matter</td>
								<td>
									All organic and inorganic material (sand, stones and soil) other than sorghum, other grains, dung, metal, glass and coal including any plant matter of sorghum that is not kernels.</td>
							</tr>
							<tr>
								<td>
									Screenings</td>
								<td>
									Pieces which shall pass through a 1.8 mm slotted metal sieve.</td>
							</tr>
							<tr>
								<td>
									Pest damaged grains</td>
								<td>
									Kernels with obvious weevil bored holes or which have evidence of boring or tunneling, indicating the presence of insects, insect webbing or insect refuse, or degermed grains, chewed in one or more than one part of the kernel which exhibit evident of an attack by vermin.</td>
							</tr>
							<tr>
								<td>
									Rotten, diseased &amp; discolored</td>
								<td>
									It included grains made unsafe for human consumption due to decay, moulding, or bacterial decomposition, or other causes that may be noticed without having to cut the grains to examine them. It also included kernels materially discolored by excessive heat, including that caused by excessive respiration and dried damage kernels and weather stained kernels. Kernels may appear darkened, wrinkled, blistered, puffed or swollen often with discolored damaged germs. The seed may be peeling or may peel off completely, giving kernels a checked appearance.</td>
							</tr>
							<tr>
								<td>
									Immature/Shriveled</td>
								<td>
									Sorghum grains which are underdeveloped, thin and papery in appearance.</td>
							</tr>
							<tr>
								<td>
									Unthreshed Sorghum</td>
								<td>
									Kernels that is not fully threshed.</td>
							</tr>
							<tr>
								<td>
									Other grains</td>
								<td>
									Grains, whole or broken, other than sorghum.&nbsp;</td>
							</tr>
							<tr>
								<td>
									Toxic seeds</td>
								<td>
									<ul>
										<li>
											Crotalaria seeds,&nbsp;</li>
										<li>
											castor beans (Ricinus communis</li>
										<li>
											Cookie burs (Xanthium)</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									Objectionable Odor</td>
								<td>
									Unpleasant smell that is caused by weathering, chemical contamination, mold infection, disease or damage caused by insect.</td>
							</tr>
							<tr>
								<td>
									Good Natural Color</td>
								<td>
									The natural appearance of the grain, which is pure and has not been affected by natural or man-made factors.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section> 

	<section class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				
				</div>
			</div>
		</div>
	</section>
{% endblock main-container %}