{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Soya                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='soya.html'> Soya </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/soya-beans56d84be679192-big.jpg' %}" border="0" alt="Soya beans"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <p class="lead mb0">
                        High in protein and used as a vegetarian and lactose alternative for many foods, soya has transcended its Asian origins to become the most widely cultivated grain across the globe. Rwanda is the 6th African country in Soya area covered: 42,160ha (2012) after Zimbabwe, Malawi, Uganda, South Africa & Nigeria.
                        There are fundamental reasons of selecting Soya as major selling products at EAX:
                    </p>
                    <ul class="lead" data-bullet="ti-check-box">
                    <li>
                        Soya producers and traders can store their productions for a period of up to 9 months, therefore improve their selling strategies. 
                    </li>

                    <li>
                        Soya plays an important role in food security and contributes to poverty reduction. Millers and food processors are increasingly looking at Soya for food processing activities. 
                    </li>
                    <li>
                        Soya production can be competitive in imports/export business. 
                    </li>
                    <li>
                        It is a good crop for fighting malnutrition and it is easier to store.
                    </li>
                    </ul>
                    <p class="lead mb0">
                        EAX strategy is to sell highest quality of Soya within the region. EAX Soya is stored, graded, cleaned, re-bagged or packaged in accordance to EAC standards. Soya that EAX warehouses management allow to receive should have the moisture content of at least 13%. Soya is then serviced with high quality fumigation technics to keep it free from weavers, insects or any other foreign matter. Traded Soya commodity standard for EAX Soya is (SY) grouped into 4 different grading standards: 
                    </p>

                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                        SY1   : Soya Grade 1 
                        </li>
                        <li>
                        SY2   : Soya Grade 2
                        </li>
                        <li>
                        SY3   : Soya Grade 3
                        </li>
                        <li>
                        SY4   : Soya Grade 4 
                        </li>
                    <ul>  
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            
                </div>
            </div>
        </div>
    </section>

{% endblock main-container %}