{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
	<section class="page-title page-title-4 image-bg overlay parallax">
		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="mb0">
					Wheat                            </h3>
				</div>
				<div class="col-md-6 text-right">
					<ol class="breadcrumb breadcrumb-2">
						<li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../commodities.html'> Commodities</a> </li><li> <a href='wheat.html'> Wheat </a> </li>                            </ol>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row v-align-children">
										<div class="col-md-6 col-sm-6 text-center mb-xs-24">
					<img class="cast-shadow" src="{% static 'resources/pages/wheat56ab803b1c384-big.jpg' %}" border="0" alt="wheat"/>
				</div>
				<div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
					
					<p class="lead mb0">
						Wheat was cultivated since pre-historic times in the world. It seems that its center of origin is South Western Asia. Wheat is also used for manufacturing of bread, flakes, cakes, biscuits etc. Wheat contains more protein [8-15% (grain), 8-13% (flour)] than other cereals. Wheat proteins are of special significance. Besides their significance in nutrition, these are principally concerned with providing the characteristic substance &#39;gluten&#39;, which is very essential for backers. There are fundamental reasons of selecting Wheat as major selling products at EAX:</p>
						<ul class="lead" data-bullet="ti-check-box">
							<li>
								Wheat producers and traders can store their productions for a period of up to 9 months, therefore improve their selling strategies.</li>
							<li>
								Wheat is considered the primary crop for national strategic grain reserve among EAC region</li>
							<li>
								Wheat plays an important role in food security and contributes to poverty reduction. Millers and food processors are increasingly looking at Wheat for food processing activities.</li>
							<li>
								wheat production can be competitive in imports/export business.</li>
							<li>
								It is a good crop for fighting hunger as it is easier to store</li>
						</ul>
						<p class="lead mb0">
							EAX strategy is to sell highest quality of Wheat within the region. EAX Wheat is stored, graded, cleaned, re-bagged or packaged in accordance to EAC standards. Wheat that EAX warehouses management allow to receive should have the moisture content of at least 13%. Wheat is then serviced with high quality fumigation technics to keep it free from weavers, insects or any other foreign matter. Traded Wheat commodity standard for EAX Wheat is Wheat (WH) grouped into 4 different grading standards:</p>
						<ul class="lead" data-bullet="ti-check-box">
							<li>
							WH1 : Wheat Grade 1</li>
							<li>
							WH2 : Wheat Grade 2</li>
							<li>
							WH3 : Wheat Grade 3</li>
							<li>
							WH4 : Wheat Grade 4</li>
						</ul>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="uppercase">East Africa Exchange Grading Standards for Wheat</h4>
					<hr class="mb30 mb-xs-24">
				</div>
			</div>
			<!--end of row-->
			<div class="row mb0 mb-xs-0">
				<div class="col-sm-12">
						<!--Table-->
		<table class="table table-striped w-auto">

		<!--Table head-->
		<thead>
			<tr>
			<th>PARAMETERS</th>
			<th>GRADE 1 </th>
			<th>GRADE 2 </th>
			<th>GRADE 3 </th>
			<th>GRADE 4 </th>
			<th>Utility Grade</th>
			</tr>
		</thead>
		<!--Table head-->
			<tbody>
				<tr>
					<td>
						a) Basis moisture content</td>
					<td>
						13%</td>
					<td>
						13%</td>
					<td>
						13%</td>
					<td>
						13%</td>
					<td>
						<span>13%</span></td>
				</tr>
				<tr>
					<td>
						b) Field fungi infected kernels</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						<span>2%</span></td>
				</tr>
				<tr>
					<td>
						c)Storage fungi infected kernels</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						<span>0.5%</span></td>
				</tr>
				<tr>
					<td>
						d)Screenings</td>
					<td>
						3%</td>
					<td>
						3%</td>
					<td>
						3%</td>
					<td>
						3%</td>
					<td>
						<span>3%</span></td>
				</tr>
				<tr>
					<td>
						e) Live infestation</td>
					<td>
						None</td>
					<td>
						None</td>
					<td>
						None</td>
					<td>
						None</td>
					<td>
						None</td>
				</tr>
				<tr>
					<td>
						f) Other grain and unthreshed ears</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						4%</td>
				</tr>
				<tr>
					<td>
						g)Gravel, stones, turf and glass</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
				</tr>
				<tr>
					<td>
						h) Foreign matter including gravel, stones, turf and glass: Provided that such deviations are individually within the limits specified in item g</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						1%</td>
					<td>
						3%</td>
				</tr>
				<tr>
					<td>
						i) Heat-damaged kernels</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
					<td>
						0.5%</td>
				</tr>
				<tr>
					<td>
						j) Damaged kernels, including heat-damaged kernels: Provided that such deviations are individually within the limits specified in item i)</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						2%</td>
					<td>
						5%</td>
				</tr>
				<tr>
					<td>
						k) Deviations in items d), f), h) and j) collectively: Provided that such deviations are individually within the limits</td>
					<td>
						5%</td>
					<td>
						5%</td>
					<td>
						5%</td>
					<td>
						5%</td>
					<td>
						10%</td>
				</tr>
				<tr>
					<td>
						l) Minimum hectoliter mass</td>
					<td>
						77kg</td>
					<td>
						76kg</td>
					<td>
						74kg</td>
					<td>
						72kg</td>
					<td>
						70kg</td>
				</tr>
				<tr>
					<td>
						m) Minimum falling number</td>
					<td>
						250sec</td>
					<td>
						250sec</td>
					<td>
						250sec</td>
					<td>
						200sec</td>
					<td>
						150sec</td>
				</tr>
				<tr>
					<td>
						n) Minimum Protein mass</td>
					<td>
						12%</td>
					<td>
						11%</td>
					<td>
						10%</td>
					<td>
						9%</td>
					<td>
						8%</td>
				</tr>
			</tbody>
		</table>

				</div>
			</div>
		</div>
	</section> 
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="uppercase">Wheat Definitions</h4>
					<hr class="mb30 mb-xs-24">
				</div>
			</div>
			
			<!--end of row-->
			<div class="row mb0 mb-xs-0">
				<div class="col-sm-12">
					<table class="table table-striped w-auto">
						<tbody>
							<tr>
								<td>
									Wheat</td>
								<td>
									Means the kernels of the specie Triticum aestivum.</td>
							</tr>
							<tr>
								<td>
									Moisture Content</td>
								<td>
									The moisture content, expressed on a wet weight bases, as determined by using a moisture meter with a repeatability of +-0.3 as indicated by the supplier in accordance with the results of the 72 hour oven test method.</td>
							</tr>
							<tr>
								<td>
									Foreign matter</td>
								<td>
									Anything other than wheat grains which will pass through the appropriate size round hole sieve and any mineral, animal or plant matter which will not pass through the appropriate size round hole sieve.</td>
							</tr>
							<tr>
								<td>
									Broken Grains</td>
								<td>
									Grains which have been cracked, or chipped beyond the pericarp and horny endosperm or in the embryo area and which pass through the appropriate size round hole sieve.For Wheat:2.0 mm</td>
							</tr>
							<tr>
								<td>
									Impurities</td>
								<td>
									Means damaged or defective grains, foreign matter and other cereal grains.</td>
							</tr>
							<tr>
								<td>
									Immature grains</td>
								<td>
									Grains or pieces of grain that are light and thin and not fully developed.</td>
							</tr>
							<tr>
								<td>
									Screenings</td>
								<td>
									Pieces which shall pass through a 1.8 mm slotted metal sieve.</td>
							</tr>
							<tr>
								<td>
									Storage fungi infected kernels</td>
								<td>
									Kernels that are visibly infected with fungi, and that show: blue, green, blackish or yellow fungal growth anywhere on the kernel; or visible mould beneath the bran.</td>
							</tr>
							<tr>
								<td>
									Field fungi infected kernels</td>
								<td>
									Kernels that are visibly infected with fungi, and that: clearly have greyish brush-ends that are discolored as a whole; or have a dull, lifeless, chalky or pinkish and shrunken appearance as a result of Fusarium infection.</td>
							</tr>
							<tr>
								<td>
									Damaged kernels</td>
								<td>
									Means wheat kernels: - which have been damaged by insects; - which have been distinctly discolored (orange-brown, dark brown or black) by external heat or as a result of heating caused by internal fermentation in wheat with an excessive moisture content, excluding wheat kernels in respect of which the discoloration is confined to the germ end; - which are immature and have a distinctly green color; - and in which germination has proceeded to such an extent that the skin covering the embryo has been broken or the developing rootlets are clearly visible.</td>
							</tr>
							<tr>
								<td>
									Unthreshed Wheat</td>
								<td>
									Kernels that is not fully threshed.</td>
							</tr>
							<tr>
								<td>
									Other grains</td>
								<td>
									Grains, whole or broken, other than wheat.</td>
							</tr>
							<tr>
								<td>
									Toxic seeds</td>
								<td>
									<ul>
										<li>
											Crotalaria seeds,</li>
										<li>
											castor beans (Ricinus communis</li>
										<li>
											Cookie burs (Xanthium)</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									Falling number</td>
								<td>
									Means the time in seconds according to Hagberg-Perten as a measure of the degree of Alpha-Amylase Activity in grain and flour.</td>
							</tr>
							<tr>
								<td>
									Hectoliter mass</td>
								<td>
									<span language:="" new="" times="">Means the mass in kilogram per hectoliter.</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section> 
	<section class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
			
				</div>
			</div>
		</div>
	</section>
{% endblock main-container %}