{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">Collateral Management </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='collateral-management-services.html'> Collateral Management Services </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/collateral-management.jpg' %}" border="0" alt="Collateral Management Services"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>EAX PROVIDES GUARANTEES FOR MEMBERS' STOCK</h4>
                    <p class="lead mb30">
                    One of the greatest challenge commodities producers especially smallholder farmers face, is access to financing opportunities from lenders or financing institutions such as commercial banks. Farmers often times don't have collateral to use for applications for loans. Moreover, they don't have guarantee for preserving their crops quantity and quality in standard storage facilities over a period of time thus putting them in position of doubt from a bank's perspective on their ability to repay loans.
                    EAX ensures the commodities stored at EAX certified warehouse play a role of collateral from banks and commodities financing institutions. EAX issues electronic warehouse receipts to stock owner and provide with the guarantees as a collateral manager for physical commodity quantity and quality on a maximum period of nine (9) months. 
                    </p> 
                    <h4>
                    THE ELECTRONIC WAREHOUSE RECEIPTS IS A COLLATERAL 
                    </h4>
                    <p class="lead mb30">
                    With the use of electronic warehouse receipt system, EAX support financial providers to mitigate risks on loan issuances and re-payment transactions. EAX efforts in stock control to ensure the stock is traded and used for the repayment of the loan. 
                    </p>  
                </div>                       
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">	
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}


