
 {% extends "main/base.html" %}
 {% load static %}
 {% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Commodity Trading Models                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='commodity-trading-models.html'> Commodity Trading Models</a> </li><li> <a href='commodity-trading-models/index.html'>  </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/commodity-trading.jpg' %}" border="0" alt="EAX commodites trading"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4> ABOUT EAX TRADING MODELS</h4>
                    <p class="lead mb30">
                        EAX operates a fully automated trading platform where participants can buy and sell products from the convenience of their location of choice, or trade from trading terminals provided by the Exchange. The trading platform facilitates auctions, reverse auctions, spot trading, forwards trading, and futures trading.
                    </p>
                    <h4>SPOT CONTRACT TRADING</h4>
                    <p class="lead mb30">
                        EAX spot contract trading is based on electronic warehouse receipts (e-WRs) and is entered into forces when the following are satisfied:
                    </p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                            EAX electronic warehouse receipts are created and issued to a participant member
                        </li>
                        <li>
                            EAX translates electronic receipts onto spot contracts of a minimum of 1MT with indicators of commodity type, commodity grade, warehouse location. These contracts are listed on the trading system board where each owner of the commodity is issued a security position or quantity in MT the owner has
                        </li>
                        <li>
                            During the trading day multiple buyers and sellers are able to place bids and offers through the trading system and where matches are found settlement follows on the basis of 2 days after trade (T+2). 
                        </li>
                        <li> EAX trading team ensures the delivery of the commodity to the buyer and the cash settlement to the buyer.</li>
                        <li>
                            In order to guarantee cash settlement to sellers (mostly farmers cooperatives and trading or broking members of the exchange), EAX ensures the buyer deposited one day before trade (T-1) the money equivalent to the value of the commodity at the current market price to the EAX settlement bank account.
                        </li>
                    </ul>
                    <h4>FORWARD CONTRACT TRADING</h4>
                    <p class="lead mb30">
                        EAX Forward contract trading is also based on electronic warehouse receipts (e-WRs):
                    </p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                            The forward contract is made between the seller ( a farmers cooperative registered member of EAX) and a buyer who is also a member of EAX to agree on commodity aggregation at EAX certified warehouse
                        </li>
                        <li>
                            The agreement specifies commodity type, grades, quantity to be aggregated, price, agreed delivery date and the amount</li>
                        <li>
                            The delivery of the commodity attract the electronic warehouse receipts issuance to the seller
                        </li>
                        <li>
                            Forward contract trade instrument are created onto the trading system to allow the buyer to place buy order and the seller to place sell order
                        </li>
                    </ul>
                    <h4>AUCTION CONTRACT TRADING </h4>
                    <p class="lead mb30">
                        EAX auction trading offers facilities of any seller to sell commodities to multiple buyer through auction process:
                    </p>

                    <ul class="lead" data-bullet="ti-check-box">
                        <li>
                            Seller will talk to EAX trading team and offers to sell a number of MT of his/her commodities</li>
                        <li>
                            EAX lists the commodity in the trading system board to allow multiple buyers to place their bids</li>
                        <li>
                            Delivery and settlement is done on T+2 basis
                        </li>
                    </ul>
                    
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                

                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

