{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0"> Commodities Grading </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='commodities-grading.html'> Commodities Grading </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/commodities-grading-big.jpg' %}" border="0" alt="Grading Standards"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4> EAX USES EAST AFRICAN COMMUNITY GRADING STANDARDS</h4>
                    <p class="lead mb30">
                    Our commodities are graded based on the East Africa Community grading standard which specifies requirements, sampling and test methods for grains. Our baselines measurements strictly follow these parameters for white maize and mixed-beans:
                    </p>

                    <!--Table-->
                    <table class="table table-striped w-auto">

                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>PARAMETERS</th>
                        <th>GRADE 1 </th>
                        <th>GRADE 2 </th>
                        <th>GRADE 3 </th>
                        <th>GRADE 4 </th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr class="table-info">
                        <th scope="row">Basis Moisture Content</th>
                        <td>13%</td>
                        <td>13%</td>
                        <td>13%</td>
                        <td>13%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Insect damage</th>
                        <td>1%</td>
                        <td>3%</td>
                        <td>5%</td>
                        <td>7%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Rotten, Diseased &amp; Discoloured </th>
                        <td>2%</td>
                        <td>4%</td>
                        <td>5%</td>
                        <td>7%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Foreign matter (include earth, sand and stones) </th>
                        <td>0.5%</td>
                        <td>1%</td>
                        <td>1.5%</td>
                        <td>3%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Live infestation </th>
                        <td>none</td>
                        <td>none</td>
                        <td>none</td>
                        <td>none</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Broken grains</th>
                        <td>2%</td>
                        <td>2%</td>
                        <td>6%</td>
                        <td>10%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Immature/Shrivelled grain</th>
                        <td>1%</td>
                        <td>2%</td>
                        <td>3%</td>
                        <td>5%</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">Total Defective Grains</th>
                        <td>4%</td>
                        <td>5%</td>
                        <td>7%</td>
                        <td>15%</td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                    </table>
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">	  
                
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

