{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Market Data                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='market-data.html'> Market Data </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="../../application/resources/pages/market-price-data-collection.jpg" border="0" alt=""/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4> MARKET PRICE INFORMATION UPDATES</h4>
                    <p class="lead mb30">
                    <strong>For general public</strong>, EAX does publish daily commodity prices on the website and on TV. 
                    <p>
                    <p class="lead mb30">
                    <strong>For EAX registered members </strong>, EAX shares weekly market prices information updates on email. Members have access to weekly, monthly and yearly reports via the electronic warehouse receipt system. The user is required to sign in the system in order to have access to market price reports. 
                    <p>  
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
            
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}