{% extends "main/base.html" %}
{% load static %}
{% block main-container %}

    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Application Process                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../membership.html'> Membership</a> </li><li> <a href='membership-application-process.html'> Membership Application Process </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/membership-process.jpg' %}" border="0" alt="Members of the exchange"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>MEMBERSHIP APPLICATION PROCESS</h4>
                    <p class="lead mb30"> East Africa Exchange (EAX) is a               membership-based organization. All traders are required to subscribe to EAX membership program prior to trading through the exchange.
                    EAX has 6 categories of memberships: 
                    </p>

                    <p class="lead mb30"> 
                        <strong>1) Exchange Certified Trading Member Broking (ECT- Broking Member):</strong> Local companies trading on their behalf and on behalf of others.
                    </p>

                    <p class="lead mb30"> 
                        <strong>2) Exchange Certified Trading Non-Broking (ECT - Non-Broking Member):</strong> Local Cooperatives and Small Trading Companies. 
                    </p>
                    <p class="lead mb30"> 
                        <strong>3) Exchange Certified Trading Member International Trader (ECT - International Trader Member):</strong> Those are corporate international companies
                    </p> 
                    <p class="lead mb30"> 
                        <strong>4) Exchange Certified Trading Member (ECT - Individual Trader): </strong> Individuals interested in trading through the platform).  
                    </p>  
                    <p class="lead mb30"> 
                        <strong>5) Exchange Certified Member (Financial Institution):</strong> Banks and micro-finance institutions issuing trade financing, electronic warehouse receipt financing and trade settlements.
                    </p>
                    <p class="lead mb30"> 
                        <strong>6) Exchange Certified Member (Government Institution):</strong> Local government Institutions interested in aggregation or strategic grain reserves program. 
                    </p>
                    

                    <p class="lead mb30"> 
                        To acquire EAX membership the following three steps are required:
                    </p>

                    <h4>Step 1:</h4>
                    <p class="lead mb30"> 
                        Contact the EAX Membership Manager, via email: info@ea-africaexchange.com and submit your inquiries or expression of interest about becoming an EAX certified Trading member and choose the type for International Trader. The membership Manager will forward you the form to submit.
                    </p>
                    

                    <h4>Step 2:</h4>
                    <p class="lead mb30"> 
                        Complete the membership application form and submit it along with the documents requested on the form that applies to your organization, and submit with an application-processing fee of $100USD. Please contact the EAX office for information on mode of payment. Members are also entitled to the payment of Admission fees. Please contact the membership manager on info@ea-africaexchage.com for further details on fees.  
                    </p>
                    

                    <h4>Step 3:</h4>
                    <p class="lead mb30"> 
                        Approval  of  Membership  Application  will  take  fifteen  (15)  working  days  from  the  day  that all the required documents are received by the EAX Membership Manager.
                    </p>
                    <p class="lead mb30"> 
                        Once the membership application is approved, the applicant will be required to undertake a Membership Training, after which the applicant shall be entitled to an EAX membership number, ID Card, and Certificate.
                    </p>

                    <h4> Note:</h4>

                    <ul class="lead" data-bullet="ti-arrow-right">
                        <li>
                            Prior to trading on the Exchange, all new members must be approved by the Capital Market Authority (CMA). This is a government  of Rwanda regulatory body that regulates traded securities including stocks and commodities . Information on the approval process is available with the Exchange's membership manager.
                        </li>
                        <li>
                            All EAX members will be assigned EAX Identification Number ( ID number) , EAX ID card and a EAX Membership Certificate.
                        </li> 
                    </ul> 

                    <h4>REQUIRED DOCUMENTS</h4> 

                    <p class="lead mb30"> 
                        An applicant is requested to submit the application form along with the following documents, (duly attested by the applicant), which are a part of the membership criteria: 
                    </p>
                    <p class="lead mb30"> 
                        a) Certified copy of Company / Cooperative Registration Certificate;
                    </p>
                    <p class="lead mb30"> 
                        b) Certified copy of Memorandum and Articles of Association;
                    </p>
                    <p class="lead mb30"> 
                        c) Board Resolution on appointing authorized signatories;
                    </p>
                    <p class="lead mb30"> 
                        d) Education qualification certificates of authorized signatories, certified by a Notary public officer if any;
                    </p>
                    <p class="lead mb30"> 
                        e) Proof of experience of the authorized signatories in the form of CVs if any;
                    </p>
                    <p class="lead mb30"> 
                        f) Address, communication  details  of  the authorized  signatories  (National  ID  card/ Passport copy, telephone, cell, and email.);
                    </p>
                    <p class="lead mb30"> 
                        g) Bank account details and a current Bank Statement displaying the past 6 months;
                    </p>
                    <p class="lead mb30"> 
                        h) Tax Identification Number/ VAT registration certificate;
                    </p>
                    <p class="lead mb30"> 
                        i) Two latest passport size colored photographs for authorized person(s);
                    </p>
                    <p class="lead mb30"> 
                        j) Current police report of the authorized signatories;
                    </p>
                    <p class="lead mb30"> 
                        k) Latest Auditors Report; and
                    </p>
                    <p class="lead mb30"> 
                        l) Any other document, as may be specified by the Exchange.
                    </p>
                    <p class="lead mb30">  
                        (Please note that a, f, g, I and j are compulsory documents to be provided)
                    </p>

                    <h4>GENERAL TERMS</h4> 
                    <ul class="lead" data-bullet="ti-arrow-right">
                        <li>
                            EAX  reserves  the  right  to  accept  or  reject  any  Membership  Application,  or  amend  the Terms and Conditions without assigning any reason whatsoever. </li>
                        <li>
                            Membership shall be subject to renewal every year (1) year on EAX applicable rate.
                        </li>
                        <li>
                            Membership shall be subject to renewal every year (1) year on EAX applicable rate.
                        </li> 
                        <li>
                            Trading, Individual and government institution members who want to use our warehouses services, are entitled to signing the warehouse agreement, and abide to the terms and condition of electronic warehouse receipts financing and trading processes.
                        </li>
                        <li> 
                            ECT members can trade on spot contracts and forward contracts (off-taker agreement with the supplier) , Auction trading but also we have over the counter trading facilitations. 
                        </li>
                    </ul>   
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}
