{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Membership                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='membership.html'> Membership</a> </li><li> <a href='membership/index.html'>  </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                    
                    <div class="col-md-12"> 
                    
                        <h3>Why EAX membership?</h3>
                    <p>
                    The East Africa Exchange (EAX) is a membership based organization. Cooperatives, agribusiness companies and individuals cannot participate in any trade at EAX unless they sign as EAX members. EAX has four main categories and should be approved by EAC member country Capital Market Authority prior starting business relationship with EAX.
                    </p>
                    <ol>
                    <li>
                    <b>EAX Certified Traders Non-Broking</b>: These are traders who can only trade for themselves and are a group of people such as registered cooperatives or registered companies.</li>
                    <li>
                    <b>EAX Certified Traders Broking</b>: These are traders who can trade for themselves and on behalf of their own clients. Generally called Brokers, they are business organizations participating in commodity market.</li>
                    <li>
                    <b>EAX Certified Member Financial Institutions</b>: These are banking and microfinance institutions who participate in commodity financing though warehouse receipt financing or EAX trade settlement.</li>
                    <li>
                    <b>EAX Certified Trader Individual Members</b>: These individual traders who are participating in buying and selling commodities in the market.</li>
                    </ol>
                    <h3>What rules and regulations should members follow?</h3>
                    <p>
                        Authorized representatives of members of EAX are requested meet the following rules and regulations while participating any an business transaction with other EAX members in the EAX market.
                    </p>
                    <h3> 1.Code of Conduct</h3>
                    <h3>Requirements</h3>
                    <p>The EAX rules require you as a Member to:</p>
                    <ul>
                    <li>
                    Ensure that its authorized representatives comply with these EAX Rules and other regulations of the Exchange;</li>
                    <li>
                    Notify the Exchange immediately upon becoming aware that it or its authorized representatives have breached a provision of these Rules or any other regulations or law relating to the Exchange;</li>
                    <li>
                    Notify the Exchange immediately upon becoming aware that a regulatory body is investigating or instituting proceedings against it;</li>
                    <li>
                    Cooperate with the Exchange or persons appointed by the Exchange in allowing the Exchange to carry out inspection of records concerning the Member&lsquo;s trading and financial position, whether on its own account or on behalf of its clients;</li>
                    <li>
                    Comply with requests of a Settlement Bank to inspect its records, when the request is made in coordination with the Exchange;</li>
                    <li>
                    Authorize the Exchange to provide information requested by the Authority (CMA) relating to the operations of the Member, and outstanding obligations held by a Member.</li>
                    <li>
                    Give access to the Authority or the Exchange to enter its offices upon request for the purposes of supervision and monitoring compliance with these Rules or any other Rules issued by the Exchange or the Authority.</li>
                    <li>
                    Promote, to the best of its ability, the objects and interests of the Exchange</li>
                    <li>
                    Protect and safeguard the interests of its Clients.</li>
                    <li>
                    Furnish to all potential and current clients a risk disclosure statement related to trading or other statement as prescribed by the Exchange.</li>
                    <li>
                    Ensure that all clients read and sign the risk disclosure or other required statement before agreeing to participate in trading.</li>
                    <li>
                    Know the contents of all Rules, notices, circulars, orders and instructions issued by the Exchange, and also provide all relevant information to clients before executing any order on behalf of the client.</li>
                    <li>
                    Provide to its clients written disclosure of information pertinent to trade as specified and required by the Exchange.</li>
                    <li>
                    Be liable to expulsion, suspension or to payment of a fine for a violation of the Rules or, regulations.</li>
                    </ul>
                    <h3>Restrictions</h3>
                    <ul>
                    <li>
                    Not assign any mortgage, pledge, hypothecate, or charge its rights and privileges of Membership.</li>
                    <li>
                    Not encourage, allow a client to evade any financial or non-financial compliance requirement with respect to trading on the Exchange.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h3>2.Trade Contracts with EAX</h3>
                    <p>A Member shall be required:</p>
                    <ul>
                    <li>
                    To enter and trade in contracts only as approved by the Exchange Board of Directors.</li>
                    <li>
                    To sign a written agreement with a client to trade a contract on behalf of a client.</li>
                    <li>
                    To pay all applicable fees, taxes and duties for contracts executed.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h3>3.Participation in Trading Operations</h3>
                    <p>Members shall:</p>
                    <ul>
                    <li>
                    Maintain separate records of their own account transactions and those of registered clients.</li>
                    <li>
                    Preserve records of registered clients&#39; orders for transactions with the time and date of receipt of order, details of executed transactions and related books of accounts for a period of three (3) years, available for production whenever required by the Exchange.</li>
                    <li>
                    Notify the Exchange as soon as possible it discovers that a properly executed transaction in which it participated has not been reported by the Exchange, or has been reported incorrectly.</li>
                    </ul>
                    <p>When making or accepting a bid or offer shall abide by the following:</p>
                    <ul>
                    <li>
                    Make or accept the bid or offer electronically through the trading system;</li>
                    <li>
                    Accept to be bound by a match with the best prevailing counter-offer or bid, based on price time priority; for a transaction with or on behalf of a Client, indicate to the client the current best quotation as reflected in the Trading System.</li>
                    <li>
                    Be liable to suspension or expulsion from Membership of the Exchange, or subject to any other action that the Exchange is permitted to take under these Rules or the Regulations of the Exchange if it infringes upon or breaches these Rules in respect of trades.</li>
                    </ul>
                    <p>
                    Members and authorized employees of the Exchange are the only persons who may have access to the Trading System.</p>
                    <h3>Restrictions</h3>
                    <p>A member shall not:</p>
                    <ul>
                                                </ul>
                    <ul>
                    <li>
                    By itself or through another person, publish, supply, show or make available to another person, reprocess, retransmit, store or use the facilities or proprietary information of the Exchange except with the prior approval of the Exchange.</li>
                    <li>
                    Not benefit from a Client&#39;s money or proceeds in any way other than the Member&#39;s commission, and the Member shall account for all the Client&#39;s money, proceeds or benefits therefrom.</li>
                    <li>
                    Be permitted to log in to the Trading System if it is suspended.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h3>4.Accounting Records</h3>
                    <ul>
                    <li>
                    A Member shall maintain accounting records for a period of not less than five (5) years that meet the following standards:</li>
                    <li>
                    Accurately record and explain the transactions and financial position of that Member; and</li>
                    <li>
                    Enable the Exchange to easily ascertain the Member&#39;s compliance with these Rules.</li>
                    <li>
                    A Member shall maintain records in a form and at a location that will enable the Exchange or any other authorized body to conveniently and properly audit them.</li>
                    </ul>
                    
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}
