{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Regional Trade                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='regional-trade.html'> Regional Trade</a> </li><li> <a href='regional-trade/index.html'>  </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="../resources/pages/regional-trade.jpg" border="0" alt=""/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <p>
                            The East Africa Exchange (EAX) is the first East Africa commodities exchange with an objective of linking producers of agricultural products, national/regional commodities traders to financial markets. The head office being in Kigali, Rwanda, EAX does not make business deals only in Rwanda. EAX goes extra miles to make deals in the region thereby promoting and creating fresh opportunities for regional trade by facilitating EAX registered members to sell and source goods in Rwanda, Kenya, Uganda, Burundi and Tanzania.&nbsp;</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

