{% extends "main/base.html" %}
{% load static %}
{% block main-container %}

    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Risk Management                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='risk-management.html'> Risk Management </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="../../resources/pages/risk-management.jpg" border="0" alt="Risk Management"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>WHAT TYPES OF RISKS DOES EAX MANAGE FOR MEMBERS</h4>
                    <p class="lead mb30">
                        All businesses are subject to risks. In an effort to minimise and mitigate risks, East Africa Exchange (EAX) has established mechanisms and strategies for the management risks in order to overcome a wide range of challenges in its warehouse operations, trading and settlement systems. Risks that may occur are associated with EAX trading activities, warehouse receipt processes and systems, deals creations errors, errors in data capturing and reading, documentation misrepresentation, commodities loading, wrong pickup notice details and out-loading processes etc ...
                    </p> 
                    <p class="lead mb30">
                        Key risks managed by the exchange are:
                    </p>
                    <ul class="lead" data-bullet="ti-check-box">
                        <li> Legal risks; </li>
                        <li> Operational risks; </li>
                        <li> Credit risks; and </li>
                        <li> Market risks </li> 
                    </ul> 

                    <h4>CAPITAL MARKET RULES AND REGULATIONS </h4>
                    <p class="lead mb30">
                        From legal and compliance perspectives, EAX team implements capital markets rules and regulations in all stages of the business from members' registration to access to all EAX warehouse services and facilities, trading systems, cash settlement and commodities delivery. EAX rules and regulations are strictly followed to ensure trust, integrity, transparency and proper members conducts.
                    </p>
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        
                
                </div>
            </div>
        </div>
    </section>

{% endblock main-container %}

