{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Trade Settlement                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='trade-settlement.html'> Trade Settlement </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="../../resources/pages/trade-settlement.jpg" border="0" alt="Trade Settlement"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>EAX DOES TIMELY TRADE SETTLEMENT</h4>
                    <p class="lead mb30">
                    When cash settlement time after trade between a buyer and a seller is long then the market is not promoting liquidity. EAX ensures the commodity owner hold the electronic warehouse receipts and the stock is stored in its certified warehouse. The same way EAX hold the security of the stock in its warehouse it also requires buyers to make an initial pre-trade cash deposit equivalent to the quantity they would like to buy in a designated EAX settlement bank account. On the trading day once a trade is complete, EAX will ensure that sellers are paid and buyers receive their goods timely. 
                    </p> 
                    <p class="lead mb30">
                    The settlement is done base on the following trading rules: 
                    </p>
                    <ul class="lead" data-bullet="ti-check-box">
                    <li> Transfer of cash to the sellers is done Two days after trade (T+2) </li>
                    <li> Delivery of commodity to the buyers is done Seven Days after Trade (T+7) </li>
                    </ul> 
                    
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}
