{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Warehouse Services                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../our-services.html'> Our Services</a> </li><li> <a href='warehouse-services-and-facilities.html'> Warehouse Services And Facilities </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="../../resources/pages/warehouse-services.jpg" border="0" alt="Warehouse services"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>WAREHOUSES AND SILO FACILTIES</h4>
                    <p class="lead mb30">
                    EAX warehouses are where EAX value-addition begins. Farmers are able to bring their grains to the warehouse in order to receive services such as weighing, grading, cleaning, and drying, or they can choose to store safely and securely. Farmers who opt to deposit commodities for storage at EAX warehouses are able to either trade their commodity on the X-stream trading platform, or seek financing from financial institutions through our electronic warehouse receipt (EWR).</p>

                    <h4> COLLATERAL MANAGEMENT SERVICES </h4>

                    <p class="lead mb30">
                    Services of high standard storage facilities, grading, drying, weighing, fumigation, cleaning, sorting and re-bagging are offered at EAX accredited warehouses. Collateral management is core function of EAX&#39;s warehouse operations, enabling the warehouse to issue warehouse receipts named Good Received Notes(GRN) with integrity. EAX offers as well Electronic Warehouse Receipts (EWR) upon request and carefully mitigates the inherent risk in trading by guaranteeing the E-WR existence, ownership, quantity, quality and location of the traded commodities at the exchange to buyers and also provides guarantees of commodities in storage to financial institutions.</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="uppercase">Benefits of collateral management</h4>
                    <hr class="mb30 mb-xs-24">
                </div>
            </div>
            
            <!--end of row-->
            <div class="row mb0 mb-xs-0">
                <div class="col-sm-12">
                    <p class="lead mb30"><strong>Product Guarantee:</strong> Products that are deposited at a warehouse with collateral management are guaranteed 100% in regard to quality and quantity for the duration of its storage.</p>

                    <p class="lead mb30"><strong>Value-Added Service:</strong> EAX provides and maintains quality standards in respect to product grades. Better grading and standards rewards higher-quality products with appropriate prices in the marketplace.</p>

                    <p class="lead mb30"><strong>Confidence-building in the Financial Markets:</strong> Farmers are able to use a properly-registered e-WR as collateral to secure financing from banks. With EAX&#39;s guarantees of quality and quantity, lending risk is significantly reduced and banks are able to extend credit to agricultural clients at reduced rates.</p>

                    <p class="lead mb30"> EAX warehouses or the silo remain the sole points of commodity collection. EAX issues the supplier with a good receive note upon reception. This document has detail about the commodity deposited. In addition the holder the good receive  note is issued with guarantees of delivery to the buyer in case of trade or withdraw in case the holder is looking for warehouse storage services only. EAX provides value-added services such as cleaning, drying, fumigation, re-bagging and electronic warehouse receipt issuance: ultimately preparing the product get ready for trade.</p>
                </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="uppercase">EAX certified warehouses</h4>
                    <hr class="mb30 mb-xs-24">
                </div>
            </div>
            
            <!--end of row-->
            <div class="row mb0 mb-xs-0">
                <div class="col-sm-12">
                    <p class="lead mb30">Currently EAX has certified the following warehouses in Rwanda and in Kenya</p>

                    <!--Table-->
                    <table class="table table-striped w-auto">

                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>No</th>
                        <th>Site Location Name</th>
                        <th>District</th>
                        <th>Province</th>
                        <th>Storage Capacity in MT</th>
                        <th>Have Dryer?</th>
                        <th>Country</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr class="table-info">
                        <th scope="row">1</th>
                        <td>Kayonza 1 - Gasarabwayi</td>
                        <td>Kayonza</td>
                        <td>East</td>
                        <td>1,500</td>
                        <td>No</td>
                        <td>Rwanda</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Kayonza 2 - Rwinkwavu *</td>
                        <td>Kayonza</td>
                        <td>East</td>
                        <td>1,500</td>
                        <td>Yes</td>
                        <td>Rwanda</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">3</th>
                        <td>Bugesera, Mayange - Silo *</td>
                        <td>Bugesera</td>
                        <td>East</td>
                        <td>4,000</td>
                        <td>Yes</td>
                        <td>Rwanda</td>
                        </tr>
                        <tr>
                        <th scope="row">4</th>
                        <td>Rwamagana 1, Musha</td>
                        <td>Rwamagana</td>
                        <td>East</td>
                        <td>500</td>
                        <td>No</td>
                        <td>Rwanda</td>
                        </tr>
                        <tr class="table-info">
                        <th scope="row">5</th>
                        <td>Nyanza, Rwabicuma*</td>
                        <td>Nyanza</td>
                        <td>South</td>
                        <td>2,000</td>
                        <td>Yes</td>
                        <td>Rwanda</td>
                        </tr>
                    </tbody>
                    <!--Table body-->


                    </table>
                    <p>* Facilities are equiped with Mechanical dryer</p>
                </div>
            </div>
        </div>
    </section> 
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

