{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    About Us                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../about-us.html'> About Us</a> </li><li> <a href='index.html'>  </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
                <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/eax-about-us3444d09f1d-big.jpg' %}" border="0" alt=""/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4> A COMMODITY EXCHANGE</h4>
                    <p class="lead mb30">
                    The East Africa Exchange (EAX) is a regional commodity exchange legally registered throughout East Africa Community (EAC) partner states and is currently established with a head office in Kigali Rwanda. EAX offers participants of the physical commodities markets, such as agricultural / mineral producers and traders an excellent opportunity to trade their products locally, regionally and on the international markets. EAX was initially created to link smallholder farmers to global markets, secure competitive prices for products, and facilitate access to financing opportunities. Today it is expanding its trading operations in mineral and metal space.</p>
                    <h4>VISION</h4>
                    <p class="lead mb30">
                    EAX&#39;s vision is to create lasting institutions that will catalyze Africa&#39;s agricultural potential, support African farmers to achieve food security, energy security, and improve Africa&#39;s overall global trade competitiveness.</p>                            
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock main-container %}

