{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Board of Directors                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="https://www.ea-africaexchange.com/"> Home</a>
                        </li> 
                        <li> 
                            <a href='../about-us.html'> About Us</a> 
                        </li>
                        <li> 
                            <a href='board-of-directors.html'> Board Of Directors </a> 
                        </li>                            
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/jendayi-frazer-board-chairman.jpg' %}" border="0" alt=""/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>THE BOARD </h4>
                    <p class="lead mb30">
                    EAX board is made up of investors with a common vision to create commodity exchanges in Sub-Saharan Africa. EAX is mainly supported by private capital from Nicolas Berggruen (Berggruen Holdings, USA); Tony Elumelu (Heirs Holdings, Nigeria), Jendayi Frazer (50 Ventures, USA) and NGALI Holdings (RWANDA) 
                    </p>
                    
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-left">
                        <div class="our-team-sec">
                            <div class="row">
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/jenday-fraser.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/dr-jendayi-frazer" title="Dr. Jendayi Frazer">Dr. Jendayi Frazer</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>Board Chair</li>
                                        </ul>
                                    </div>
                                </div>                         
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/justin-topilow.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/justin-topilow" title="Justin Topilow">Justin Topilow</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>Board Member</li>
                                        </ul>
                                    </div>
                                </div>                          
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/koonal-gandhi.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/koonal-gandhi" title="Koonal Gandhi">Koonal Gandhi</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Board Member										</li>
                                        </ul>
                                    </div>
                                </div>                           
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/emmanuel-rugambwa.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/emmanuel-rugambwa" title="Emmanuel Rugambwa">Emmanuel Rugambwa</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>Board Member</li>
                                        </ul>
                                    </div>
                                </div>                         
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/jeanette-rwigamba.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/jeanette-rwigamba" title="Jeanette Rwigamba">Jeanette Rwigamba</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Board member										</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Inner left Sec   -->
                    
                </div>
            </div>
        </div>
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

