{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Company Profile                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../about-us.html'> About Us</a> </li><li> <a href='company-profile.html'> Company Profile </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                                        <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/eax-commodites-store56d8344d09f1d-big.jpg' %}" border="0" alt="EAX commodites stored in wharehouse"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    
                    <h4>PROFILE</h4>
                    <p class="lead mb30">
                    EAX is regional commodity exchange offering commodity trade services in Rwanda and East Africa Community (EAC) common markets (173 million consumers) in key staples food crops such as White Maize (WM), Beans (BS), Soya (SY), Wheat (WH), Sorghum (SG), Paddy Rice (PR), Mix Beans (MIX-BS), Tea (TEA), Yellow Maize (YM), Yellow Beans (YEL-BS), Sugar Beans (SUG-BS) and Coffee (COF).  
                    </p>

                    <p class="lead mb30">
                    EAX deals with high quality grains meeting requirements of EAC standards. Established to link smallholder farmers to agricultural and financial markets, secure competitive prices for products, and facilitate access to financing opportunities, today it is expanding its operations to trade coffee, tea, paddy rice and minerals. The current and future trading methods consist of spot, forwards, auctions and futures trading for not only grains in agriculture sector but also for metals and minerals. 
                    </p>
                    <h4>SERVICES</h4>

                    <ul class="lead mb30" data-bullet="ti-check-box">
                    <li>
                    Access to the market by linking commodities buyers and sellers;   
                    </li>
                    <li>
                    Access to secure storage facilities; 
                    </li>
                    <li> 
                    Access to finance using electronic warehouse receipt financing model; and
                    </li>
                    <li>
                    Access to reliable commodity market information.  
                    </li> 
                    </ul>                            
                </div>
                                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">  
                
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}
