{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
        <section class="page-title page-title-4 image-bg overlay parallax">
            <div class="background-image-holder">
                <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb0">Management Team</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <ol class="breadcrumb breadcrumb-2">
                            <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../about-us.html'> About Us</a> </li><li> <a href='eax-management-team.html'> Eax Management Team </a> </li>                            </ol>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section>
            <div class="container">
                <div class="row v-align-children">
                                            <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                        <img class="cast-shadow" src="{% static 'resources/pages/rwanda-management-team.jpg' %}" border="0" alt=""/>
                    </div>
                    <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                        
                        <h4>THE TEAM </h4>
                        <p class="lead mb0">
                        Rwanda management team is made of qualified professionals in commodity exchanges, spot and forward contract trading, finance, business administration, international cross-board trades facilitations, human resources, grains quality standards & warehouse certification, information technology, market/price data analysis and forecasting. 
                        </p> 
                        <p class="lead mb0">
                        EAX has also field officers who specialised in Agribusiness and cooperative organisations.&nbsp;
                        </p>
                    </div>
                                            
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
					
        <section class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-left">
                            <div class="our-team-sec">
                                <div class="row">
                                                            
                                    <div class="col-md-3">
                                        <div class="our-team-box">
                                            <div class="team-title">
                                                <img
                                                    src="{% static 'resources/pages/clement-kayitakire.jpg' %}"
                                                    alt="" />
                                                <h3>
                                                    <a href="https://www.ea-africaexchange.com/sections/clement-kayitakire-" title="Clement Kayitakire ">Clement Kayitakire </a>
                                                </h3>

                                            </div>
                                            <ul>
                                                <li>
                                                    Ag.Chief Executive  Officer		
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                                            
                                    <div class="col-md-3">
                                        <div class="our-team-box">
                                            <div class="team-title">
                                                <img
                                                    src="{% static 'resources/pages/innocent-niyonshuti.jpg' %}"
                                                    alt="" />
                                                <h3>
                                                    <a href="https://www.ea-africaexchange.com/sections/innocent-niyonshuti-" title="Innocent Niyonshuti ">Innocent Niyonshuti </a>
                                                </h3>

                                            </div>
                                            <ul>
                                                <li>
                                                    Chief Finance Officer
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                                            
                                    <div class="col-md-3">
                                        <div class="our-team-box">
                                            <div class="team-title">
                                                <img
                                                    src="{% static 'resources/pages/harriet-mutoni.jpg' %}"
                                                    alt="" />
                                                <h3>
                                                    <a href="https://www.ea-africaexchange.com/sections/harriet-mutoni" title="Harriet Mutoni">Harriet Mutoni</a>
                                                </h3>

                                            </div>
                                            <ul>
                                                <li>
                                                    Chief HR and Administration	
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                                            
                                    <div class="col-md-3">
                                        <div class="our-team-box">
                                            <div class="team-title">
                                                <img
                                                    src="{% static 'resources/pages/herman-kazora.jpg' %}"
                                                    alt="" />
                                                <h3>
                                                    <a href="https://www.ea-africaexchange.com/sections/herman-kazora" title="Herman Kazora">Herman Kazora</a>
                                                </h3>

                                            </div>
                                            <ul>
                                                <li>
                                                    Head of Quality Control	
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>

                        </div>
                        <!-- Inner left Sec   -->
                    </div>
                </div>
            </div>
        </section>

        <section class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    
                    </div>
                </div>
            </div>
        </section>
{% endblock main-container %}


