{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    FAQ                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../about-us.html'> About Us</a> </li><li> <a href='faq.html'> Faq </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                    <img class="cast-shadow" src="{% static 'resources/pages/brochure-presentation-big.jpg' %}" border="0" alt="EAX Brochure"/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-0 col-sm-offset-1">
                    <ul class="accordion accordion-1 one-open">
                        <li class="active">
                            <div class="title">
                                <span>What is East Africa Exchange (EAX)?</span>
                            </div>
                            <div class="content">
                                <p class="lead mb0">
                                East Africa Exchange (EAX) is a regional commodity exchange. It is marketplace that links buyers and sellers of commodities such as Maize, Beans, Sorghum, Paddy Rice, Soya, wheat, tea, coffee and minerals while further providing price transparency, commodity &nbsp;quality and &nbsp;quantity, &nbsp;and prompt settlement and clearance.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <span>When was EAX established?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0">
                                EAX was established in 2013, primarily to link small holder farmers in Rwanda and the East African community countries to markets and financial services.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <span>What type of company is EAX?</span>
                            </div>
                            <div class="content">
                                <p class="lead mb0">
                                EAX is an a commodities exchange equipped with world class infrastructure established to support farmers, agricultural traders and mineral traders in partnership with Government Institutions and Financial Institutions in Rwanda, East African Community and beyond to offer global, regional and local trading services, warehousing and commodities financing. 
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <span>Where is EAX located?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0">
                                EAX headquarters is based in Kigali, Rwanda and operates trades within EAC members states including but not limited to Kenya, Uganda, Burundi, Tanzania but also Zambia, Malawi and DRC. 
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <span>What Commodities does EAX trade?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0">
                                EAX trades primarily agricultural commodities such as: Maize, Beans, Soya, Wheat, Sorghum, Paddy rice. The exchange also has the capacity to facilitate the trade of other commodities such as minerals, energy, timber and is continuously carrying out research into different value chains.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <span>What are EAX products and services?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0">
                                <strong>Storage and collateral management</strong>: EAX operates an integrated network of certified warehouses in different parts of its countries of operations that offer storage and collateral management services for grains including weighing, and re-bagging; Currrently, the exchange has warehouses in, Rwanda: 
                                <br/> Bugesera Silo in Mayange;  
                                <br/> Kayonza 1 in Gasarabwayi;  
                                <br/> Kayonza 2 in Rwinkwavu; 
                                <br/> Nyanza in Rwabicuma and;
                                <br/> Rwamagana 1 in Musha; 
                                </p>
                                <p class="lead mb0">
                                <strong>Value-addition post-havest services with storage facilities and collateral management:</strong> EAX warehouses are also equipped with modern tools to provide grading, drying, cleaning and fumigation services to members
                                </p> 
                                <p class="lead mb0">
                                <strong>Electronic Warehouse Receipts (EWRs):</strong> An EWR is issued against the commodity quantity and grade stored at EAX certified warehouse. each EWR enables the holder (farmer/ cooperative/depositors) to sell their commodity from its location and further use it as security to access finance from EAX certified member financial institution. 
                                </p>
                                <br/>
                                <p class="lead mb0">
                                <strong> Services of trading: </strong> EAX has invested in the world class trading platform to offer services of trading in spot, forward and futures contracts. We also offer offline trading services
                                </p>
                                <br/> 
                                <p class="lead mb0">
                                <strong> Market information oversight</strong>: EAX provides daily prices and other market data analysis to buyers and sellers to enable them make informed decisions during trade. 
                                </p>
                                <br/> 
                                <p class="lead mb0">
                                Cash settlement to the seller and commodity delivery to the buyer: EAX system ensures that sellers accounts are settled within two (2) days after trade (T+2) and buyers receive their goods two (2) days after the trade (T+2). 
                                </p>
                            </div>
                        </li>
                        <li>
                        <div class="title">
                                <span>How can I trade using EAX Platform?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0">
                                EAX is a membership based organization, therefore one needs to be a member to access EAX services. For more information about becoming a member, please contact us.
                                </p>
                            </div>
                        </li>
                        <li>
                        <div class="title">
                                <span>How do I contact EAX?</span>
                            </div>
                            <div class="content">
                            <p class="lead mb0"> <strong>At the Headquarter in Rwanda</strong> </p>
                                <p class="lead mb0">
                                East Africa Exchange (EAX)<br />
                                RSSB Tower II, 6th Floor, African Union Boulevard | KN 3 Rd (P&eacute;age) Kiyovu, Nyarugenge, <br/>
                                Kigali, Rwanda<br />
                                Email: info@ea-africaexchange.com<br />
                                Office phone: +250 788 19 7000<br />
                                </p>
                            </div>
                        </li>
                    </ul>     
                </div>                        
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

