{% extends "main/base.html" %}
{% load static %}
{% block main-container %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{% static 'img/home15.jpg' %}" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb0">
                    Partners                            </h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li><a href="https://www.ea-africaexchange.com/"> Home</a></li> <li> <a href='../about-us.html'> About Us</a> </li><li> <a href='partners.html'> Partners </a> </li>                            </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                    
                    <div class="col-md-12"> 
                                
                </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

                        
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-left">
                        <div class="our-team-sec">
                            <div class="row">
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/nasdaq-trading.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/nasdaq-trading" title="Nasdaq Trading">Nasdaq Trading</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                X-stream Nasdaq trading platform, by Nasdaq OMX										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/minagri.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/minagri" title="MINAGRI">MINAGRI</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Rwanda Ministry of Agriculture and Animal Resources										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/minicom.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/minicom" title="MINICOM">MINICOM</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Rwanda Ministry of Trade and Industry										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/naeb.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/naeb" title="NAEB">NAEB</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                National Agricultural Export Development Board, Goverment of Rwanda										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/rmb.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/rmb" title="RMB">RMB</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Rwanda Mines, Petroleum and Gas Board, Goverment of Rwanda										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/africa-improved-foods.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/africa-improved-foods" title="AIF">AIF</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Africa Improved Foods Rwanda Limited										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/minimex.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/minimex" title="MINIMEX">MINIMEX</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                Minimex Ltd										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                        
                                <div class="col-md-3">
                                    <div class="our-team-box">
                                        <div class="team-title">
                                            <img
                                                src="{% static 'resources/pages/prodev.jpg' %}"
                                                alt="" />
                                            <h3>
                                                <a href="https://www.ea-africaexchange.com/sections/prodev" title="PRODEV RWANDA">PRODEV RWANDA</a>
                                            </h3>

                                        </div>
                                        <ul>
                                            <li>
                                                ProDev Group Holding Ltd.										</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                                            
                                
                            


                            </div>
                        </div>

                    </div>
                    <!-- Inner left Sec   -->
                    
                    
                    
                </div>
            </div>
        </div>
    </section>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </section>
{% endblock main-container %}

