{% load static %}
<footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                         <div class="ccol-md-6 col-sm-3">
                            <div class="widget">
                                <h6 class="title">Contacts </h6>
                                <hr>
                             
                                <ul class="link-list">
                                    <li>
                                     <i class="ti-location-pin"></i>
                                     EAX Head Office, Silverback Mall, 4th Floor, KK 15 Rd, Sonatube, Kicukiro, Kigali, Rwanda <br/>
                                      <i class="ti-headphone"></i>
                                     Call: +250 788 197 000 <br/>
                                     <i class="ti-email"></i>
                                     info@ea-africaexchange.com <br/>
                                    </li>
                                    
                                 </ul> 
                               
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="widget">
                                <h6 class="title">Our warehouse locations</h6>
                                <hr>
                                <ul class="link-list">
                                    <li>
                                        1. Bugesera Silo, Mayange
                                    </li>
                                    <li>
                                        2. Kayonza 1 Warehouse, Gasarabwayi
                                    </li>
                                    <li>
                                        3. Kayonza 2 Warehouse, Rwinkwavu
                                    </li>
                                    <li>
                                        4. Nyanza Warehouse, Rwabicuma
                                    </li>
                                    <li>
                                        5. Rwamagana Warehouse, Musha
                                    </li>
                                </ul>
                                
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="widget">
                                <h6 class="title">EAX Updates on Twitter</h6>
                                <hr>
                                
                                 <ul class="twitter-feed"><li><span class="status">Our twitter feed is unavailable right now.</span> <span class="meta"><a href="http://twitter.com/EAX_Exchange">Follow us on Twitter</a></span></li></ul>                                
                                <p><a href="https://twitter.com/EAX_Exchange" title="">Follow Us on Twitter</a></p>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            
                            <h5 class="fade-1-4">&copy; East Africa Exchange <script>document.write(new Date().getFullYear())</script>. All rights reserved.</h5>
                            <ul class="list-inline social-list mb0">
                                <li>
                                    <a href="https://twitter.com/EAX_Exchange">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/EastAfricaExchange">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="https://www.flickr.com/photos/186819043@N05/">
                                        <i class="ti-flickr"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <script type="module" src="{% static 'js/ticker.js' %}"></script>
                <script src="{% static 'js/jquery.min.js' %}"></script>
                <script src="{% static 'js/bootstrap.min.js' %}"></script>
                <script src="{% static 'js/flickr.js' %}"></script>
                <script src="{% static 'js/flexslider.min.js' %}"></script>
                <script src="{% static 'js/lightbox.min.js' %}"></script>
                <script src="{% static 'js/masonry.min.js' %}"></script>
                <script src="{% static 'js/twitterfetcher.min.js' %}"></script>
                <script src="{% static 'js/spectragram.min.js' %}"></script>
                <script src="{% static 'js/ytplayer.min.js' %}"></script>
                <script src="{% static 'js/countdown.min.js' %}"></script>
                <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
                <script src="{% static 'js/parallax.js' %}"></script>
                <script src="{% static 'js/scripts.js' %}"></script>
                <!--end of container-->
                <div>
                    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
                </div>
            </footer>